* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Manrope, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    background: rgba(0, 129, 201, 0.8);
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 66px;
    color: #000000;
    /* color: brown; */
}

h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 55px;
}

h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}

.bg-nav {
    background: #0081c9;
    mix-blend-mode: normal;
    z-index: 10;
    border: none;
}

.border-white {
    border: 2px solid white;
}

.border-orange {
    border: 2px solid #ffc93c;
}

.h-section {
    height: 50vh;
}

.bg-black {
    background-image: url(../assets/img/background.png) !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: none !important;
}

.bg-1 {
    background-image: url(../assets/img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.pilih_design1 {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/icons8/idea.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.isi_folmulir {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/mdi/text-box-edit-outline.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.pembayaran {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/fa6-solid/money-bills.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.jam {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/mdi/clock-outline.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.selesai {
    border-radius: 100%;
    width: 128px;
    height: 128px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/mdi/deal-outline.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.pilih_design {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    /* background: url("https://api.iconify.design/ic/baseline-block.svg")
        no-repeat center center / contain; */
}

.line_steps {
    width: 60px;
    /* height: 1px; */
    border: 1px solid white;
}

/* PILIH  DESAIN */
#pilih_desain {
    /* height: 90vh; */
    background: url(../assets/img/background_desain.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.desain_pilihan {
    height: 160px;
    width: 271px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin: 10px 10px 0px 10px;
}

.more_desain {
    padding: 14px 20px;
    height: 60px;
    width: 271px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    /* margin: 0px 0px 0px 0px; */
}

/* FASILITAS */
.fasilitas {
    background: url(../assets/img/backgrournd_fasilitas.svg);
    /* background-repeat: no-repeat; */
    background-size: 100%;
}

.items {
    margin: 30px 30px 0px 30px;
    height: 50px;
    width: 300px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.icon_items1 {
    height: 50px;
    width: 50px;
    background: #ffc93c;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 100%;
}

/* TESTIMONI */
#testimoni {
    background: url(../assets/img/background_testimoni.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.gd-carousel-wrapper {
    position: relative;
}

.gd-carousel {
    position: unset !important;
}
.gd-carousel .react-multiple-carousel__arrow {
    /* position: absolute; */
    background: none !important;
}

.gd-carousel .react-multiple-carousel__arrow--left {
    left: calc(-5% + 1px);
}

.gd-carousel .react-multiple-carousel__arrow--right {
    right: calc(-5% + 1px);
}

/* Q&A */

.w-accordion {
    width: 530px;
}

.accordion-item:last-of-type,
.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.accordion-item:first-of-type,
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.look-other {
    /* width: 300px; */
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}

.react-multiple-carousel__arrow {
    z-index: 1 !important;
    min-width: 0px !important;
}

.react-multiple-carousel__arrow::before {
    font-size: 28px !important;
    font-weight: bold;
}

/* MOBILE WEB */

.bg-mobile {
    background-image: url(../assets/img/background_mobile.svg);
    background-size: 100%;
    background-position-y: 60px;
    background-repeat: no-repeat;
}

.pilih_design1-mobile {
    border-radius: 100%;
    width: 52px;
    height: 52px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/icons8/idea.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.isi_folmulir-mobile {
    border-radius: 100%;
    width: 52px;
    height: 52px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/mdi/text-box-edit-outline.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.pembayaran-mobile {
    border-radius: 100%;
    width: 52px;
    height: 52px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/fa6-solid/money-bills.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.jam-mobile {
    border-radius: 100%;
    width: 52px;
    height: 52px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/mdi/clock-outline.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}
.selesai-mobile {
    border-radius: 100%;
    width: 52px;
    height: 52px;
    border: 3px dashed white;
    background: url("https://api.iconify.design/mdi/deal-outline.svg?color=%23ffc93c")
        no-repeat center center / contain;
    background-size: 68%;
}

.line_steps-mobile {
    width: 30px;
    /* position: absolute; */
    /* justify-content: flex-start; */
    /* height: 1px; */
    border: 1px solid white;
}
.text-steps {
    font-style: normal;
    font-size: 10px;
    padding-top: 5px;
    line-height: 10px;
}

.desain_pilihan_mobile {
    height: 160px;
    width: 150px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin: 10px 10px 0px 10px;
}

.more_desain_mobile {
    padding: 14px 20px;
    height: 60px;
    width: 140px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    margin: 10px 10px 0px 10px;
}

.items_mobile {
    margin: 10px 10px 0px 10px;
    height: 35px;
    width: 140px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    /* font-size: 10px; */
}

.icon_items1_mobile {
    height: 35px;
    width: 35px;
    background: #ffc93c;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 100%;
}
